@use'../custom' as *;

.updates_container {
    height: auto;
    padding-top: 3rem;

    h1 {
      color: $bg3;
    }

    h1, h5, h6 {
      font-family: 'Monserrat', sans-serif;
    }

    .cards-wrapper {
        display: flex;
        justify-content: center;
      }
      .card img {
        max-width: 100%;
        max-height: 100%;
      }
      .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
      }
      .card a {
        text-decoration: none;
      }
      .carousel-inner {
        padding: 1em;
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: $bg3;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 768px) {
        .card img {
          height: 11em;
        }
      }
}


/******* Second page *******/

.updates-content {
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;

  h4, h5 ,p {
    font-family: 'Monserrat'sans-serif;
  }

  .content-container{
     padding-top: 5rem;

    .left-content {
      height: auto;
      
    }
  
    .right-content {
      height: auto;
      margin-bottom: auto;
  
        .news-header {
          background: $bg3;
        }
    
        .item{
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        }
    
        .item :hover {
          background: $bg3;
          transition: all 0.7s ease;
        }
    
    }

  }

  
}



/********* Details page *******/

.details-container {
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;

  .header-title{
    height: 20vh;

    h2 ,h3, p {
      font-family: 'Monserrat' sans-serif;
    }

    h2 {
      letter-spacing: 3px;
      color: $gray-600 ;
    }

  }

}

.details-content {
  margin-bottom: 5rem;

  h4 a {
    text-decoration: none;
    color: $bg3;
  }

 .text-content {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
   margin-top: 2rem;

   h4, h5 ,p {
    font-family: 'Monserrat' sans-serif; ;
   }

   h4{
    color: $bg3;
   }

  h5 {
    letter-spacing: 3px;
    color: $gray-700;
  }

  a {
    text-decoration: none;
    color: blue;
  }
     
 }
}