@use '../components/animations';

.header {

    h1 {
        animation: slide-up 1.4s ease;

    }

    p {
        animation: slide-up 1.6s ease;
    }

    button {
        animation: slide-up 1.9s ease;
    }

}

