@use'../custom' as *;
@use'../components/mixins' as *;

.btn-rounded{
    @include button-bg;
    position: relative;
    padding: 0.3rem;
    font-weight: 500;
    margin: 0;
    width: 6rem;
    color: $gray-200;
    border: 0.1rem solid rgba($gray-200,0.6);
    border-radius: 5px;
    transition: all 650ms ease;
   

    &:hover{
        @include gradient;
        color: $gray-900;
        background: rgba($bg3,0.5);
        border: 0.1rem solid rgba($gray-200,0.6);
        transition: all 650ms ease;
       

       
    }
}